{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}

{% block styles %}
    <link href="{% static 'binary_choices/css/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {% trans "Practice Question" %}
{% endblock %}

{% block content %}

    <div class="wrapper">

        <form method="post">
            <!-- Table - Lottery Decisions (Option A/B) -->
            <div class="card">
                <div class="card-header">
                    {{ question_header }}
                </div>
                <table class="table">
                    <tr>
                        <th>{% trans "Option A:" %}</th>
                        <td>
                            {% blocktrans trimmed %}
                            <p>
                                A lottery where you can either receive:
                            </p>
                            <p>
                                &emsp;{{ x_str }} with <strong>{{ x_prob }}</strong> probability
                                <br>
                                &emsp;or
                                <br>
                                &emsp;{{ y_str }} with <strong>{{ y_prob }}</strong> probability

                            {% endblocktrans %}
                        </td>
                        <td>
                            {% if Constants.buttons == True %}
                                <button class="btn btn-primary choice" name="practice_choice" value=0 required>
                                    {% trans "Option A" %}
                                </button>
                            {% else %}
                                <input type="radio" name="practice_choice" value=0 required>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% trans "Option B:" %}
                        </th>
                        <td>
                            {% blocktrans trimmed %}
                                Receiving <strong>{{ z_str }}</strong> for sure.
                            {% endblocktrans %}
                        </td>
                        <td>
                            {% if Constants.buttons == True %}
                                <button class="btn btn-primary choice" name="practice_choice" value=0 required>
                                    {% trans "Option B" %}
                                </button>
                            {% else %}
                                <input type="radio" name="practice_choice" value=1 required>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>

            {% if Constants.buttons == False %}
                {% next_button %}
            {% endif %}
        </form>

    </div>

{% endblock %}
